body {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

#main {
    margin-top: 80px;
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    background-color: white;
}

ul.sub-nav {
    display: flex;
    margin: 10px 10%;
}

ul.sub-nav li {
    list-style-type: none;
    font-size: 1.2em;
    margin-left: 100px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

#cho1 {
    background-color: #c1faf8;
}

ul.chose {
    display: flex;
    text-align: center;
    padding: 0 15% 0 15%;
    background-color: #eeeeee;
    margin: 15px;
}

ul.chose li {
    list-style-type: none;
    width: 80px;
    font-size: 1.2em;
    padding: 5px 15px 5px 15px;
    margin: 30px;
    border-radius: 5px;
    border: #9ba0a8 solid 2px;
}

#reset_btn {
    font-size: 1.2em;
    background-color: #9ba0a8;
    font-family: 楷体, serif;
    color: white;
    padding: 6px 18px 6px 18px;
    border-radius: 5px;
    border: none;
    margin: 0 0 30px 70%;
}

#sure {
    font-size: 1.2em;
    border: none;
    background-color: #79c2e2;
    border-radius: 5px;
    font-family: 楷体, serif;
    color: white;
    padding: 6px 18px 6px 18px;
    margin-left: 5%;

}

/*通信模块*/
#cho_2 {
    display: none;
}

#cho_2 ul {
    padding: 0 25% 0 25%;
}

/*电子模块*/
#cho_3 {
    display: none;
}

#cho_3 ul {
    padding: 0 25% 0 25%;
}